@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fonte1: 'Bebas Neue', cursive;
    --cor1: #364D75;
    --cor2: #133775;
    --cor3: #2773F5;
    --cor4: #71A2F7;
    --cor5: #71a2f734;
}

html, body {
    transition: all 0.5s ease;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1) 90%);
    min-height: 150px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

header>h1 {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor4);
    font-family: var(--fonte1);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.418);
}

header img {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
}

main {
    transition: all 0.5s ease;
    /* Largura minima */
    min-width: 300px;
    /* Largura máxima */
    max-width: 800px;
    height: 85vh;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: var(--cor1);
    background-image: url('../image/fundo-abstrato-azul.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

form {
    transition: all 0.5s ease;
    float: right;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--cor3);
    border-radius: 5px;
}

label {
    align-items: center;
    color: lightgray;
    padding-top: 10px;
}

div label {
    display: flex;
    align-content: center;
    color: lightgray;
    padding-top: 0px;
}

input {
    height: 20px;
    border: none;
    border-radius: 5px;
    

}

input:focus, textarea:focus {
    background-color: #2773F5;
    margin-top: 0px;
    padding: 10px;
    color: white;


}

div.check {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-top: 5px;
    padding: 1px;
}

textarea {
    resize: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#botao {
    margin-top: 0px;
    padding: 0px;
    color: var(--cor4);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--cor1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    cursor: pointer;
}

#botao:hover {
    /* hover passar o mouse por cima */
    box-shadow: 0 0 8px 0 var(--cor4) inset, 0 0 2px 2px var(--cor3);
    color: var(--cor2);
}

@media only screen and (max-width: 1000px) {
    main {
        transition: all 0.5s ease;
        /* Largura minima */
        min-width: 150px;
        /* Largura máxima */
        max-width: 400px;
        height: 85vh;
        margin: auto;
        margin-bottom: 15px;
        padding: 10px;

    }

    header {
        transition: all 0.5s ease;
        min-height: 100px;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    header img {
        transition: all 0.5s ease;
        width: 70px;
        padding: 10px;
    }

    header>h1 {
        transition: all 0.5s ease;
        font-size: 2em;

    }

    form {
        transition: all 0.5s ease;
        float: none;
        width: 100%;

    }
}

@media only screen and (max-width: 450px) {
    main {
        transition: all 0.5s ease;
        /* Largura minima */
        min-width: 75px;
        /* Largura máxima */
        max-width: 200px;
        height: 85vh;
        margin: auto;
        margin-bottom: 15px;
        padding: 10px;

    }

    header>h1 {
        transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-size: 1.4em;

    }
}